services:
  postgres-db:
    image: postgres:15
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgresadmin
      - POSTGRES_PASSWORD=postgresadmin
      - POSTGRES_DB=postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgresadmin -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-net

  backend:
    build:
      context: ./backend
      target: dev
    environment:
      - DB_HOST=postgres-db
      - DB_PORT=5432
      - DB_USER=postgresadmin
      - DB_PASSWORD=postgresadmin
      - DB_NAME=postgres
    networks:
      - app-net
    depends_on:
      postgres-db:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      target: dev
      args:
        - API_URL=http://backend:5005
    environment:
      - API_URL=http://backend:5005
    ports:
      - "3000:3000"
    networks:
      - app-net

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=$CF_TUNNEL_TOKEN
    depends_on:
      - frontend
    networks:
      - app-net

volumes:
  postgres_data:

networks:
  app-net:
    driver: bridge
