services:
  postgres-db:
    image: postgres:15
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      - POSTGRES_USER=postgresadmin
      - POSTGRES_PASSWORD=postgresadmin
      - POSTGRES_DB=postgres
    networks:
      - app-net

  backend:
    build: ./backend
    networks:
      - app-net

  frontend:
    build: ./frontend
    networks:
      - app-net

volumes:
  postgres_data:

networks:
  app-net:
    driver: bridge
