services:
  backend:
    build:
      context: ./backend
      target: prod
    ports:
      - "5005:5005"
    environment:
      - ENV=production
      - API_URL=http://backend:5005
      - DB_HOST=postgres-db
      - DB_PORT=5432
      - DB_USER=postgresadmin
      - DB_PASSWORD=postgresadmin
      - DB_NAME=postgres

  frontend:
    build:
      context: ./frontend
      target: production
    ports:
      - "80:3000"
    environment:
      - NODE_ENV=production
      - API_URL=http://backend:5005
