services:
  postgres-db:
    image: postgres:15
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      - POSTGRES_USER=postgresadmin
      - POSTGRES_PASSWORD=postgresadmin
      - POSTGRES_DB=postgres
    networks:
      - app-net

  backend:
    build: ./backend
    networks:
      - app-net
    depends_on:
      - postgres-db

  frontend:
    build:
      context: ./frontend
      target: dev
    ports:
      - "3000:3000"
    networks:
      - app-net

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=$CF_TUNNEL_TOKEN
    depends_on:
      - frontend
    networks:
      - app-net

volumes:
  postgres_data:

networks:
  app-net:
    driver: bridge
